.hero{
    position: relative;
    background-color: aqua;
    .custom-shape-divider-bottom-1713224350 {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-bottom-1713224350 svg {
        position: relative;
        display: block;
        width: calc(136% + 1.3px);
        height: 104px;
    }
    
    .custom-shape-divider-bottom-1713224350 .shape-fill {
        fill: #FFFFFF;
    }
    margin-top: 60px;
    padding-top: 5rem;
    background-color: $primary-color;
    padding-bottom: 10rem;
    @media(max-width:768px){
        padding-top: 1rem;
    }
    a{
        text-decoration: none;
        color: black;
    }
    .big{
        text-align: center;
        font-size: 3rem;
        font-weight: bold;
        @media(max-width:768px){
            font-size: 1.50rem;
        }
    }
    .bread-crump{
        display: flex;
        justify-content: center;
        margin-top: 3rem;
        @media(max-width:768px){
            margin-top: 2rem;
            margin-left: 2rem;
            height: 5%;
        }
        .flag{
           color: white;
           font-size: 2rem;
           background-color: $secondary-color;
           border-top-left-radius: 5px;
           border-bottom-left-radius: 5px;
           display: flex;
           align-items: center;
           @media(max-width:768px){
            font-size: 1rem;
            padding: .10rem;
           }
        }
        .input{
            display: flex;
            gap: 2rem;
            background-color: white;
            align-items: center;
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
            padding: 1rem;
            @media(max-width:768px){
                display: flex;
                justify-content: flex-start;
                margin-right: 2rem;
                justify-content: space-between;
            }
           p{
            font-size: 1rem;
            color: #C5D4E9;
            @media(max-width:768px){
                font-size: .65rem;
            }
           }
           .green{
            color: $secondary-color;
            cursor: pointer;
           }
        }
    }
    .food-images{
        display: flex;
        justify-content: center;
        gap: 3rem;
        margin-top: 3rem;
        @media(max-width:768px){
            display: flex;
            flex-wrap: wrap;
            padding: 2rem;
            margin-top: 1rem;
        }
        p{
            text-align: center;
            font-weight: bold;
        }
        .image{
            display: flex;
            justify-content: center;
            background-color:white;
            padding: 1rem;
            width: 100px;
            height: 100px;
            border-radius: 68% 32% 54% 46% / 47% 57% 43% 53% ;
            box-shadow: rgba(38, 57, 77, 0.54) 0px 20px 30px -10px;
            @media(max-width:768px){
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .imy{
                width: 80px;
                @media(max-width:768px){
                    width: 80%;
                }
            }
        }
    }
}